body {
    background-color: #232323; 
    font-family: 'Roboto', sans-serif;
}


.square {
    background-color: purple;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    color: black;
    text-align: center;
    background-color: blue;
    width: 100%;
}

h2 {
    color: black;
    text-align: center;
    background-color: yellow;
}